.contenedor{
    height: 200px;
    display: flex;
    margin: 20px;
    flex-direction: column;
}

.name{
    align-self: center;
    text-decoration: none;
    color: #fff;
}


.temp{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.button{
    width: 50px;
    background-color:  rgb(155, 6, 6);
    align-self: center;
    border-radius: 50px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(255, 0, 0);
}


/* img{
    position: absolute;
    right: 0;
    bottom: 0;
} */
